body {
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-size: 120%;
}

h2 {
  color: red;
  text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6,p {
  font-family: 'Oswald', sans-serif;
  }

.responsive {
  width: 100%;
  height: auto;
}

@media all and (min-width: 520px) {
  .container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    padding: 40px;
  }
}

@media all and (max-width: 520px) {
  .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.9);
    padding: 20px;
  }
}

.music-bar {
  position: fixed;
  top: 0%;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.instagram {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}

.content {
  margin-left: 75px;
  font-size: 30px;
}

#footer {
  padding: 10px;
  text-align: center;
}